html {
    overflow-y: scroll;
    margin: 20px;
}

body {
    font-family: monospace;
    font-size: 18px;
}

input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}

li {
    margin: 5px 0;
}

.btn {
    padding: 0.25rem 0.5rem;
}

#randomUsernameBtn {
    margin-top: 10px;
}

#title {
    font-size: 2em;
    color: #88BBD6;
    text-align: center;
    text-decoration: underline;
}

.display-after {
    display: none;
}

#userlist {
    list-style: none;
    background: #C0F0FA;
    padding: 5px 10px;
    width: 300px;
    top: 11px;
}

#chat p {
    margin: 5px 0;
    font-weight: 300
}

#chat .timestamp {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
}

#chat article {
    background: #C0F0FA;
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid #99d3df;
    position: relative;
    word-wrap: break-word;
}

#chat article:first-of-type {
    background: #c9edc3;
    border-left-color: #74a377;
    animation: enter .2s 1;
}

@keyframes enter {
    from { transform: none;        }
    50%  { transform: scale(1.05); }
    to   { transform: none;        }
}

@media (min-width: 1200px) {
    .container{
        width: 1600px;
    }
}

@media (min-width: 500px) {
    .container{
        width: 1000px;
    }
}